@using Microsoft.AspNet.Identity
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/mainCSS")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/mainJs")
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7vR2o7exBwzC_WLnJnSj-qvsgBLOxzQg"></script>
</head>
<body style="padding-top: 0px">
    @{
        ViewBag.UpdateTargetId = "page-content-wrapper";
     }
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                        }
                    }
                </li>
                <li>
                    <a href="#">Dashboard/Market</a>
                </li>
                <li>
                    @Ajax.ActionLink("My Information", "Index", "Profile", new AjaxOptions { UpdateTargetId = ViewBag.UpdateTargetId })
                </li>
                <li>
                    @Ajax.ActionLink("My Education Profile", "Index", "EducationProfile", new AjaxOptions { UpdateTargetId = ViewBag.UpdateTargetId, Url = "EducationProfile" })
                </li>
                <li>
                    @Ajax.ActionLink("Education Assessment Tool (EAT)", "Index", "EducationAssessment", new AjaxOptions { UpdateTargetId = ViewBag.UpdateTargetId })
                </li>
                <li>
                    <a href="#">Schalorships & Tuition Assistance</a>
                </li>
                <li>
                    <a href="#">My Leads</a>
                </li>
                <li>
                    <a href="#">Career Guidance</a>
                </li>
                <li>
                    <a href="#">Online Learning Campus</a>
                </li>
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <div id="page-content-wrapper">
            @RenderBody()
        </div>
        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
    </div>
    @Scripts.Render("~/bundles/bootstrapJs")
    @RenderSection("scripts", required: false)
</body>
</html>
